extends ../layout

block content 
    .booking-form
          .form-header
            h1 Thông tin mua vé
          form(action="/confirm_form", method="post")
            .modal-body
                //- input(type="hidden", name="id")
                .row
                  .col-sm-6
                    .form-group
                      span.form-label
                            |Tên
                            span(style='color:red') *
                      if(session.client)
                        input.form-control(type='text' placeholder='Tên người sử dụng vé' name="name" value=session.client.name)
                      else 
                        input.form-control(type='text' placeholder='Tên người sử dụng vé' name="name")
                      span.af
                  .col-sm-6
                    .form-group
                      span.form-label 
                            |Ngày tháng năm sinh
                            span(style='color:red') *
                      if(session.client)
                        input.form-control(type='date' name="birthday" value=moment(session.client.birthday).format('YYYY-MM-DD'))
                      else 
                        input.form-control(type='date' name="birthday")
                      span.af
                .form-group
                  span.form-label Email
                    span(style='color:red') *
                  if(session.client)
                    input.form-control(type='email' placeholder='Email' name="email" value=session.client.email)
                  else
                    input.form-control(type='email' placeholder='Email' name="email")
                  span.af
                .form-group
                  span.form-label Số điện thoại
                  if(session.client)
                    input.form-control(type='tel' placeholder='Số điện thoại để liên hệ' name="phone" value=session.client.phone)
                  else
                    input.form-control(type='tel' placeholder='Số điện thoại để liên hệ' name="phone")
                  span.af
                .form-group
                  span.form-label Địa chỉ
                  if(session.client)
                    input.form-control(type='text' placeholder='Địa chỉ người sử dụng vé' name="address" value=session.client.address)
                  else
                    input.form-control(type='text' placeholder='Địa chỉ người sử dụng vé' name="address")
                  span.af
                .form-group
                  span.form-label
                        |CMND/CCCD
                        span(style='color:red') *
                  if(session.client)
                    input.form-control(type='text' placeholder='CMND/CCCD, giấy khai sinh đối với trẻ em' name="id_number" value=session.client.id_number )
                  else
                    input.form-control(type='text' placeholder='CMND/CCCD, giấy khai sinh đối với trẻ em' name="id_number" )
                  span.af
            //- .modal-footer
            .row 
              .col
                a(href='./')
                  button.btn.exit-btn(type='button' data-dismiss='modal') Hủy
              .col
                button.btn.submit-btn(type='submit') Xác nhận
