extends ../layout 

block content 
    #toast
    if(data)
        input#checkStatus(name='checkStatus' type='hidden' value=data.status)
    .search.search-box
        h4.title Thông tin khách hàng
        .card-body
            .row 
                .col-8
                    .form-group
                        label Họ và tên
                        input.form-control(type='text' placeholder='' name='name' value=listAccount[0].name readonly)
                .col-4
                    .form-group
                        label Giới tính
                        input.form-control(type='text' placeholder='' name='initName' value=listAccount[0].Sex=="M"?"Nam":"Nữ" readonly)
            .row 
                .col-8
                    .form-group
                        label Địa chỉ
                        input.form-control(type='text' placeholder='' name='address' value=listAccount[0].address readonly)
                .col-4
                    .form-group
                        label Quốc tịch
                        input.form-control(type='text' placeholder='' name='nationality' value=listAccount[0].nationality readonly)
            .row 
                .col-4
                    .form-group
                        label Số điện thoại
                        input.form-control(type='text' placeholder='' name='phoneNumber' value=listAccount[0].phone readonly)
                .col-4
                    .form-group
                        label Email
                        input.form-control(type='text' placeholder='' name='email' value=listAccount[0].email readonly)

                .col-4
                    .form-group
                        label Mật khẩu
                        input.form-control(type='password' placeholder='********' name='password' readonly)
            .row 
                .col-3 
                .col-6 
                    .modal-footer
                        button.btn-editCustomer.btn-block.text-center.btn-lg.btn-info.btn-toastr(type='submit' style="margin-top: 5px; width= auto;font-size:15px;"
                        data-name = listAccount[0].name, data-address = listAccount[0].address, data-phone=listAccount[0].phone
                        data-email = listAccount[0].email, data-password = listAccount[0].password, data-sex = listAccount[0].sex,
                        data-nationality = listAccount[0].nationality ) Chỉnh sửa
                .col-3(style='margin:30px 0 0; padding:8px 16px, text-align:center;')
                    a#changePass(href='#' data-password = listAccount[0].password, data-phone=listAccount[0].phone) Đổi mật khẩu


                           
                        
            .row 
                .col-12
                        #editPasswordModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editPasswordModal' aria-hidden='true')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header(style="background-color:#166987;")
                                        h4.modal-title(style="color:#ffffff;  text-align: center; padding: 0px") Thay đổi mật khẩu
                                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                                            span(aria-hidden='true') &times;
                                    form(action="/customer", method="post")
                                        .modal-body
                                            input(type="hidden", name="phone")
                                            input(type="hidden", name="password", id="password")
                                            .form-group
                                                label Mật khẩu hiện tại
                                                input.form-control(type='password', placeholder='', name='password_', id="password_")
                                            
                                         
                                            .form-group 
                                                label Mật khẩu mới
                                                input.form-control(type='password', placeholder='', name='newPassword', id="newPassword")
                                            .form-group
                                                label Xác nhận mật khẩu mới
                                                input.form-control(type='password', placeholder='', name='confirmPassword', id="confirmPassword", onChange="checkPasswordMatch();")
                                            #divCheckPasswordMatch.registrationFormAlert          
                                        button.btn-submit.btn.btn-primary(type='submit' ) Cập nhật 
                                        //- .modal-footer
                                            button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng lại
                                            button.btn.btn-primary(type='submit') Cập nhật                                    
                                            


            .row 
                .col-12
                        #editCustomerModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='editCustomerModal' aria-hidden='true')
                            .modal-dialog(role='document')
                                .modal-content
                                    .modal-header(style="background-color:#166987;")
                                        h4.modal-title(style="color:#ffffff;  text-align: center; padding: 0px") Chỉnh sửa
                                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                                            span(aria-hidden='true') &times;
                                    form(action="/customer/edit", method="post")
                                        .modal-body
                                            input(type="hidden", name="id")
                                            input(type="hidden", name="phone")
                                            .form-group
                                                label Họ và tên
                                                input.form-control(type='text', placeholder='Họ và tên', name='name')
                                            .form-group
                                                label(for='destination-location') Giới tính
                                                input(list='sexs' name='sex' placeholder="Giới tính")
                                                datalist#sexs
                                                    option(value='M') Nam
                                                    option(value='F') Nữ    
                                                    option(value='U') Không xác định

                                            .form-group
                                                label Địa chỉ
                                                input.form-control(type='text', placeholder='', name='address')
                                            .form-group
                                                label Quốc tịch
                                                input(list='nationality', placeholder='Quốc tịch', name='nationality')
                                                datalist#nationality
                                
                                                    option(value='Aland Islands') Aland Islands

                                                    option(value='Albania') Albania

                                                    option(value='Algeria') Algeria

                                                    option(value='American Samoa') American Samoa

                                                    option(value='Andorra') Andorra

                                                    option(value='Angola') Angola

                                                    option(value='Anguilla') Anguilla

                                                    option(value='Antarctica') Antarctica

                                                    option(value='Antigua and Barbuda') Antigua and Barbuda

                                                    option(value='Argentina') Argentina

                                                    option(value='Armenia') Armenia

                                                    option(value='Aruba') Aruba

                                                    option(value='Australia') Australia

                                                    option(value='Austria') Austria

                                                    option(value='Azerbaijan') Azerbaijan

                                                    option(value='Bahrain') Bahrain

                                                    option(value='Bahamas') Bahamas

                                                    option(value='Bangladesh') Bangladesh

                                                    option(value='Barbados') Barbados

                                                    option(value='Belarus') Belarus

                                                    option(value='Belgium') Belgium

                                                    option(value='Belize') Belize

                                                    option(value='Benin') Benin

                                                    option(value='Bermuda') Bermuda

                                                    option(value='Bhutan') Bhutan

                                                    option(value='Bolivia') Bolivia

                                                    option(value='Bonaire') Bonaire

                                                    option(value='Bosnia and Herzegovina') Bosnia and Herzegovina

                                                    option(value='Botswana') Botswana

                                                    option(value='Bouvet Island') Bouvet Island

                                                    option(value='Brazil') Brazil

                                                    option(value='British Indian Ocean Territory') British Indian Ocean Territory

                                                    option(value='Brunei Darussalam') Brunei Darussalam

                                                    option(value='Bulgaria') Bulgaria

                                                    option(value='Burkina Faso') Burkina Faso

                                                    option(value='Burundi') Burundi

                                                    option(value='Cambodia') Cambodia

                                                    option(value='Cameroon') Cameroon

                                                    option(value='Canada') Canada

                                                    option(value='Cape Verde') Cape Verde

                                                    option(value='Cayman Islands') Cayman Islands

                                                    option(value='Central African Republic') Central African Republic

                                                    option(value='Chad') Chad

                                                    option(value='Chile') Chile

                                                    option(value='China') China

                                                    option(value='Christmas Island') Christmas Island

                                                    option(value='Cocos (Keeling) Islands') Cocos (Keeling) Islands

                                                    option(value='Colombia') Colombia

                                                    option(value='Comoros') Comoros

                                                    option(value='Congo') Congo

                                                    option(value='Cook Islands') Cook Islands

                                                    option(value='Costa Rica') Costa Rica

                                                    option(value='Côte dIvoire') Côte d'Ivoire

                                                    option(value='Croatia') Croatia

                                                    option(value='Cuba') Cuba

                                                    option(value='Curaçao') Curaçao

                                                    option(value='Cyprus') Cyprus

                                                    option(value='Czech Republic') Czech Republic

                                                    option(value='Denmark') Denmark

                                                    option(value='Djibouti') Djibouti

                                                    option(value='Dominica') Dominica

                                                    option(value='Dominican Republic') Dominican Republic

                                                    option(value='Ecuador') Ecuador

                                                    option(value='Egypt') Egypt

                                                    option(value='El Salvador') El Salvador

                                                    option(value='Equatorial Guinea') Equatorial Guinea

                                                    option(value='Eritrea') Eritrea

                                                    option(value='Estonia') Estonia

                                                    option(value='Ethiopia') Ethiopia

                                                    option(value='Falkland Islands (Malvinas)') Falkland Islands (Malvinas)

                                                    option(value='Faroe Islands') Faroe Islands

                                                    option(value='Fiji') Fiji

                                                    option(value='Finland') Finland

                                                    option(value='France') France

                                                    option(value='French Guiana') French Guiana

                                                    option(value='French Polynesia') French Polynesia

                                                    option(value='French Southern Territories') French Southern Territories

                                                    option(value='Gabon') Gabon

                                                    option(value='Gambia') Gambia

                                                    option(value='Georgia') Georgia

                                                    option(value='Germany') Germany

                                                    option(value='Ghana') Ghana

                                                    option(value='Gibraltar') Gibraltar

                                                    option(value='Greece') Greece

                                                    option(value='Greenland') Greenland

                                                    option(value='Grenada') Grenada

                                                    option(value='Guadeloupe') Guadeloupe

                                                    option(value='Guam') Guam

                                                    option(value='Guatemala') Guatemala

                                                    option(value='Guernsey') Guernsey

                                                    option(value='Guinea') Guinea

                                                    option(value='Guinea-Bissau') Guinea-Bissau

                                                    option(value='Guyana') Guyana

                                                    option(value='Haiti') Haiti

                                                    option(value='Heard Island and McDonald Islands') Heard Island and McDonald Islands

                                                    option(value='Holy See (Vatican City State) ') Holy See (Vatican City State)

                                                    option(value='Honduras') Honduras

                                                    option(value='Hong Kong') Hong Kong

                                                    option(value='Hungary') Hungary

                                                    option(value='Iceland') Iceland

                                                    option(value='India') India

                                                    option(value='Indonesia') Indonesia

                                                    option(value='Iran, Islamic Republic of') Iran, Islamic Republic of

                                                    option(value='Iraq') Iraq

                                                    option(value='Ireland') Ireland

                                                    option(value='Isle of Man') Isle of Man

                                                    option(value='Israel') Israel

                                                    option(value='Italy') Italy

                                                    option(value='Jamaica') Jamaica

                                                    option(value='Japan') Japan

                                                    option(value='Jersey') Jersey

                                                    option(value='Jordan') Jordan

                                                    option(value='Kazakhstan') Kazakhstan

                                                    option(value='Kenya') Kenya

                                                    option(value='Kiribati') Kiribati

                                                    option(value='Democratic Peoples Republic of Korea') Democratic People's Republic of Korea

                                                    option(value='Republic of Korea') Republic of Korea

                                                    option(value='Kuwait') Kuwait

                                                    option(value='Kyrgyzstan') Kyrgyzstan

                                                    option(value='Lao Peoples Democratic Republic') Lao People's Democratic Republic

                                                    option(value='Latvia') Latvia

                                                    option(value='Lebanon') Lebanon

                                                    option(value='Lesotho') Lesotho

                                                    option(value='Liberia') Liberia

                                                    option(value='Libya') Libya

                                                    option(value='Liechtenstein') Liechtenstein

                                                    option(value='Lithuania') Lithuania

                                                    option(value='Luxembourg') Luxembourg

                                                    option(value='Macao') Macao

                                                    option(value='Macedonia, the Former Yugoslav Republic of') Macedonia, the Former Yugoslav Republic of

                                                    option(value='Madagascar') Madagascar

                                                    option(value='Malawi') Malawi

                                                    option(value='Malaysia') Malaysia

                                                    option(value='Maldives') Maldives

                                                    option(value='Mali') Mali

                                                    option(value='Malta') Malta

                                                    option(value='Marshall Islands') Marshall Islands

                                                    option(value='Martinique') Martinique

                                                    option(value='Mauritania') Mauritania

                                                    option(value='Mauritius') Mauritius

                                                    option(value='Mayotte') Mayotte

                                                    option(value='Mexico') Mexico

                                                    option(value='Micronesia, Federated States of') Micronesia, Federated States of

                                                    option(value='Moldova, Republic of') Moldova, Republic of

                                                    option(value='Monaco') Monaco

                                                    option(value='Mongolia') Mongolia

                                                    option(value='Montenegro') Montenegro

                                                    option(value='Montserrat') Montserrat

                                                    option(value='Morocco') Morocco

                                                    option(value='Mozambique') Mozambique

                                                    option(value='Myanmar') Myanmar

                                                    option(value='Namibia') Namibia

                                                    option(value='Nauru') Nauru

                                                    option(value='Nepal') Nepal

                                                    option(value='Netherlands') Netherlands

                                                    option(value='New Caledonia') New Caledonia

                                                    option(value='New Zealand') New Zealand

                                                    option(value='Nicaragua') Nicaragua

                                                    option(value='Niger') Niger

                                                    option(value='Nigeria') Nigeria

                                                    option(value='Niue') Niue

                                                    option(value='Norfolk Island') Norfolk Island

                                                    option(value='Northern Mariana Islands') Northern Mariana Islands

                                                    option(value='Norway') Norway

                                                    option(value='Oman') Oman

                                                    option(value='Pakistan') Pakistan

                                                    option(value='Palau') Palau

                                                    option(value='Palestine, State of') Palestine, State of

                                                    option(value='Panama') Panama

                                                    option(value='Papua New Guinea') Papua New Guinea

                                                    option(value='Paraguay') Paraguay

                                                    option(value='Peru') Peru

                                                    option(value='Philippines') Philippines

                                                    option(value='Pitcairn') Pitcairn

                                                    option(value='Poland') Poland

                                                    option(value='Portugal') Portugal

                                                    option(value='Puerto Rico') Puerto Rico

                                                    option(value='Qatar') Qatar

                                                    option(value='Réunion') Réunion

                                                    option(value='Romania') Romania

                                                    option(value='Russian Federation') Russian Federation

                                                    option(value='Rwanda') Rwanda

                                                    option(value='Saint Barthélemy') Saint Barthélemy

                                                    option(value='Saint Helena, Ascension and Tristan da Cunha') Saint Helena, Ascension and Tristan da Cunha

                                                    option(value='Saint Kitts and Nevis') Saint Kitts and Nevis

                                                    option(value='Saint Lucia') Saint Lucia

                                                    option(value='Saint Martin (French part) ') Saint Martin (French part) 

                                                    option(value='Saint Pierre and Miquelon') Saint Pierre and Miquelon

                                                    option(value='Saint Vincent and the Grenadines') Saint Vincent and the Grenadines

                                                    option(value='Samoa') Samoa

                                                    option(value='San Marino') San Marino

                                                    option(value='Sao Tome and Principe') Sao Tome and Principe

                                                    option(value='Saudi Arabia') Saudi Arabia

                                                    option(value='Senegal') Senegal

                                                    option(value='Serbia') Serbia

                                                    option(value='Seychelles') Seychelles

                                                    option(value='Sierra Leone') Sierra Leone

                                                    option(value='Singapore') Singapore

                                                    option(value='Sint Maarten (Dutch part)') Sint Maarten (Dutch part)

                                                    option(value='Slovakia') Slovakia

                                                    option(value='Slovenia') Slovenia

                                                    option(value='Solomon Islands') Solomon Islands

                                                    option(value='Somalia') Somalia

                                                    option(value='South Africa') South Africa

                                                    option(value='South Georgia and the South Sandwich Islands') South Georgia and the South Sandwich Islands

                                                    option(value='South Sudan') South Sudan

                                                    option(value='Spain') Spain

                                                    option(value='Sri Lanka') Sri Lanka

                                                    option(value='Sudan') Sudan

                                                    option(value='Suriname') Suriname

                                                    option(value='Svalbard and Jan Mayen') Svalbard and Jan Mayen

                                                    option(value='Swaziland') Swaziland

                                                    option(value='Sweden') Sweden

                                                    option(value='Switzerland') Switzerland

                                                    option(value='Syrian Arab Republic') Syrian Arab Republic

                                                    option(value='Taiwan, Province of China') Taiwan, Province of China

                                                    option(value='Tajikistan') Tajikistan

                                                    option(value='Tanzania, United Republic of') Tanzania, United Republic of

                                                    option(value='Thailand') Thailand

                                                    option(value='Timor-Leste') Timor-Leste

                                                    option(value='Togo') Togo

                                                    option(value='Tokelau') Tokelau

                                                    option(value='Tonga') Tonga

                                                    option(value='Trinidad and Tobago') Trinidad and Tobago

                                                    option(value='Tunisia') Tunisia

                                                    option(value='Turkey') Turkey

                                                    option(value='Turkmenistan') Turkmenistan

                                                    option(value='Turks and Caicos Islands') Turks and Caicos Islands

                                                    option(value='Tuvalu') Tuvalu

                                                    option(value='Uganda') Uganda

                                                    option(value='Ukraine') Ukraine

                                                    option(value='United Arab Emirates') United Arab Emirates

                                                    option(value='United Kingdom') United Kingdom

                                                    option(value='United States') United States

                                                    option(value='United States Minor Outlying Islands') United States Minor Outlying Islands

                                                    option(value='Uruguay') Uruguay

                                                    option(value='Uzbekistan') Uzbekistan

                                                    option(value='Vanuatu') Vanuatu

                                                    option(value='Venezuela, Bolivarian Republic of') Venezuela, Bolivarian Republic of

                                                    option(value='Việt Nam') Việt Nam

                                                    option(value='Virgin Islands, British') Virgin Islands, British

                                                    option(value='Virgin Islands, U.S.') Virgin Islands, U.S.

                                                    option(value='Wallis and Futuna') Wallis and Futuna

                                                    option(value='Western Sahara') Western Sahara

                                                    option(value='Yemen') Yemen

                                                    option(value='Zambia') Zambia

                                                    option(value='Zimbabwe') Zimbabwe

                                                    option(value='Khác') Khác
                                            //- .form-group
                                            //-     label Số điện thoại
                                            //-     input.form-control(type='text', placeholder='Số điện thoại', name='phone')
                                            .form-group
                                                label Email
                                                input.form-control(type='email', placeholder='Email', name='email')
                                        .modal-footer                                        
                                            button.btn.btn-primary(type='submit') Cập nhật

    br
    .search.search-box
        h4.title Lịch sử chuyến bay
        .card-body
            .row
                .col-12
                    table#tab-faculty.table.table-bordered.table-striped
                        thead
                            tr
                                th.text-center Mã
                                th.text-center Hãng bay
                                th.text-center Nơi đi
                                th.text-center Nơi đến
                                th.text-center Ngày đi
                                th.text-center Ngày đến
                                th.text-center Giá
                        tbody
                            each Flight in listFlight
                                tr 
                                    td.text-center=Flight.id_flight
                                    td.text-center=Flight.name
                                    td.text-center=Flight.from
                                    td.text-center=Flight.to 
                                    td.text-center=moment(Flight.depart).format('DD/MM/YYYY HH:MM')
                                    td.text-center=moment(Flight.end).format('DD/MM/YYYY HH:MM')
                                    td.text-center=Flight.price.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ".") +" VND"

    br
    br
    br
    //- script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
    script(src="/js/customer/index.js")
    //- .script 
    //-     var name = $("input[name='checkStatus']").val();
    //-     if(name == "failed password") {
    //-         showSuccessToast();
    //-     }
    //-     else if(name == "password"){
    //-         showSuccessToast();
    //-     }
